.p1{
font-size: 3vw;
    color: rgb(0, 0, 0);
    align-items: center;
    text-align: center;
}
.p2{
    font-size: 4vw;
        color: rgb(0, 0, 0);
        align-items: center;
        text-align: center;
    }