.p1{
font-size: 120%;
    color: rgb(0, 0, 0);
    align-items: center;
    text-align: center;
}
.p2{
    font-size: 200%;
        color: rgb(0, 0, 0);
        align-items: center;
        text-align: center;
    }

    :root {
        --cor-de-fundo: #69c6ff;
        --branco: #ffffff;
    }

    footer {
        background-color: black;
        color: white;
        position: fixed;
        bottom: 0;
        }

        body {
            background-color: bisque;
            font-family: Bai Jamjuree;
            }