.p1{
font-size: 120%;
    color: rgb(0, 0, 0);
    align-items: center;
    text-align: center;
}
.p2{
    font-size: 200%;
        color: rgb(0, 0, 0);
        align-items: center;
        text-align: center;
    }

    footer {
        background-color: black;
        color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 2rem;
    }

        footer p {
            text-align: center;
            font-size: 0.6rem;
            margin-top: 0.5rem;
        }

        body {
            background-color: rgb(81, 71, 221);
            font-family: Bai Jamjuree;
            }